{% extends 'base.html' %}
{% block content %}

    <!-- CONTACT SECTION -->
    <section id="contact" class="contact">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div>
                        <h3>How Can We Help?</h3>
                        <p>Please contact us using the information below. Or you can use the form on the right to send us a message, and we’ll get back to you as soon as possible.</p>
                    </div>
                    <div>
                        <h3>Address</h3>
                        <p>In fornt of Maadi Star Towers,</p>
                        <p>Corniche El Maadi,</p>
                        <p>Cairo</p>
                    </div>
                    <div>
                        <h3>Reservations</h3>
                        <p>5050 5050 5050</p>
                        <p>5050 5050 5050</p>
                        <p>book@pyramidshotela.com</p>
                    </div>
                </div>
                <div class="col-2">
                    <form>
                        <input type="text" placeholder="Name" required>
                        <input type="email" placeholder="Email Address" required>
                        <textarea row="20" cols="20" placeholder="Your Message" required></textarea>
                        <button class="btn btn-white">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}