{% extends 'base.html' %}
{% block content %}

  <div class="container" style="color: var(--main-color);">
  <h2> Explore The Place </h2>


           <div class="col-2" style="display: inline-flex">

<p class="text-block;" style="align-self: flex-start; max-width: 600px">Majestic views of the cityscape, the River, and Lakes. All housed in a skyscraper designed by many renowned architects. Situated downtown, our hotel is mere minutes from the Loop, Parks, Museums, Zoos, and Navy Pier. Discover the perfect blend of convenience and stylish comfort only at Pyramids Hotel.
Visual and edible masterpieces that will delight and indulge. Discover contemporary Seasonal Egyptian cuisine. For a taste of our classic heritage, enjoy our Pyramids Afternoon Tea alongside views of Cairo in our stunning lounge.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/4eJ8sJGh5dA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </div>
 <br>
<br>
                 <div class="col-2" style="display: inline-flex">
<iframe width="560" height="315" src="https://www.youtube.com/embed/4eJ8sJGh5dA?start=52" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                     <p class="text-block;" style="align-self: flex-end; max-width: 400px;padding-left: 25px;padding-bottom: 90px">268 guest rooms and 48 suites designed for the discerning traveller. Warm colour tones accented with rich textiles and dark woods create open and inviting spaces. Floor-to-ceiling windows provide sweeping vistas of the cairo skyline and river. Modern conveniences and our signature amenities make every room a comforting place to unwind.</p>

                        </div>
  </div>
{% endblock %}