{% extends 'base.html' %}
{% block content %}
        <div id="hero" class="hero">
            <div class="container">
                <div class="hero__text-box">
                    <h1 class="hero__text">
                        <span class="hero__text-top">Luxury</span>
                        <span class="hero__text-bottom">Comfort</span>
                    </h1>
                    <a class="btn btn-green " href="/rooms">Book a Room</a>
                </div>
            </div>
        </div>

    <main>
        <!-- INFO SECTION -->
        <section class="info">
            <div class="container">
                <div class="row">
                    <div class="col-2 padding-right">
                        <p class="info-text text-green">Located in the lovely area of DownTown, Cairo, enjoys a commanding position in the restaurants, shopping, culture hub of Egypt. From here, guests can make the most of all that the lively city has to offer. With its convenient location, the property offers easy access to the city's must-see destinations.
</p>
                        <p class="info-text text-green">Pyramids is renowned for its quality services and friendly staff, and lives up to expectations. The property offers access to a vast array of services, including daily housekeeping, 24-hour front desk, car park, pets allowed, 24-hour check-in.</p>
                    </div>
                    <div class="col-2 image-group">
                        <img src="../../static/Teplates/images/blog-list-img-1.jpg" alt="image">
                        <img src="../../static/Teplates/images/blog-list-img-2.jpg" alt="image">
                    </div>
                </div>
            </div>

        </section>

        <!-- ROOMS SECTION -->
        <section class="rooms">
            <div class="container">
                <div class="row">
                    <div class="col-2 padding-right">
                        <img src="../../static/Teplates/images/rooms.jpg" alt="image">
                    </div>
                    <div class="col-2">
                        <div class="text-box">
                            <h2 class="headline">Rooms</h2>
                            <p>268 guest rooms and 48 suites designed for the discerning traveller. Warm colour tones accented with rich textiles and dark woods create open and inviting spaces. Floor-to-ceiling windows provide sweeping vistas of the Cairo skyline and river. Modern conveniences and our signature amenities make every room a comforting place to unwind.</p>
                            <a class="btn btn-green" href="rooms">Explore Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- RESTAURANT SECTION -->
        <section class="restaurant">
            <div class="container">
                <div class="row column-reverse">
                    <div class="col-2 padding-right">
                        <div class="text-box">
                            <h2>Restaurant</h2>
                            <p>We introduce what suits the Egyptian taste and integrate between different cultures, by merging different Oriental and western recipes to make new dishes that are a fusion of the Eastern and the Western tastes with the overwhelming Egyptian touch.</p>
                            <a class="btn btn-white" href="/restaurant">Dine With Us</a>
                        </div>
                    </div>
                    <div class="col-2">
                        <img src="../../static/Teplates/images/restaurant.jpg" alt="image">
                    </div>
                </div>
            </div>
        </section>

        <!-- SPA SECTION -->
        <section class="spa">
            <div class="container">
                <div class="row">
                    <div class="col-2 padding-right">
                        <img src="https://s7d2.scene7.com/is/image/ritzcarlton/50626994-RC_Spa_treatment01V2?$XlargeViewport100pct$" alt="image">
                    </div>
                    <div class="col-2">
                        <div class="text-box">
                            <h2>Spa &amp; Wellness</h2>
                            <p>Discover inner harmony by balancing the five elements in your body, with the knowledge accumulated over more than 5.000 years to harmonise the body and mind.

</p>
                            <a class="btn btn-green" href="/spa">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- TESTIMONIAL SECTION -->
        <section class="testimonials">
            <div class="container">
                <h2 class="heading-text">Customers Reviews</h2>
                <div class="slider">
                    <div class="slider-box">
                        <i class="fas fa-quote-left text-green"></i>
                        <p>This is an amazing hotel- beautifully decorated, attentive staff, delicious dining, centrally located and luxuriously comfortable. We can’t wait to come back. The rooms have great views as well. We had the best time!.</p>
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <img src="../../static/Teplates/images/user-1.jpg" alt="user">
                        <h3>Chris smith</h3>
                    </div>
                    <div class="slider-box">
                        <i class="fas fa-quote-left text-green"></i>
                        <p>The room and view were BREATHTAKING. The staff made you feel like ROYALTY. You are close to EVERYTHING. Valet is fast and professional. Pool clean facilities spotless!!! The list goes on!!!! Elliot at the front door was the best. Check-out was east the room stayed stocked. Close to Morton’s Steakhouse!!!
.</p>
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <img src="../../static/Teplates/images/user-2.jpg" alt="user">
                        <h3>John Doe</h3>
                    </div>
                    <div class="slider-box">
                        <i class="fas fa-quote-left text-green"></i>
                        <p>Excellent service, beautiful spaces to hang out over coffee or drinks, truly amazing food (and this was the streamlined menu, an understatement, bc the restaurant has not yet opened for evening service), and a location that is perfectly situated on the river. This is the only place I’ll stay for future Egypt trips!.</p>
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <img src="../../static/Teplates/images/user-3.jpg" alt="user">
                        <h3>Jane pedri</h3>
                    </div>
                </div>
            </div>
        </section>
    </main>


{% endblock %}