{% extends 'base.html' %}
{% block content %}

   <section id="rooms-list" class="rooms-list" >
   <div class="container">
    <div class="row" style="display: inline">
    <div class="col-2">
                    <div class="room-info" style="text-align: center">
                        <div>
                            <h2>{{ room.title }}</h2>
                            <p>{{ room.desc }}</p>
{#                            <div class="room-image">#}
{#                                <img style="min-width: 900px;align-self: center" src="{{ room.src }} " alt="room">#}
{#                            </div>#}
                            <p class="price"><span>${{ room.price }}</span> / night</p>
                            <ul>
                                <li><p>Available: {{ room.avaliable }}</p></li>
                                <li><p>Type: {{ room.type }}</p></li>
                            </ul>
                                   <form style="padding-top: 50px"action="" method="post" name="rese">
                                     {% csrf_token %}
                                                   {% if text == 0 %}
                                                           <p style="color: #8b0000">Invalid Date</p>
                                                        {% endif %}
                                           <div class="nav-list">
                                               <p style="padding-right: 20px;">From: </p>{{ form.fromdate }}</div>
                                            <div class="nav-list">
                                               <p style="padding-right: 20px;">To: </p>{{ form.todate }}</div>
                                       <div class="button-container container">

                                           <a style="border: none" href="/"><button type="submit" class="btn btn-white">Book Now</button></a>
                                          </div>
                                   </form>

                        </div>
                    </div>
                </div>
    </div>
       </div>
   </section>





{% endblock %}